<% var js_includes = ['https://code.jquery.com/jquery-1.12.3.min.js', '/javascripts/create_ajax.js']%>
<% include ../partials/header.ejs %>

<h1>Create New Player</h1>
<% if(typeof msg !== "undefined") { %>
<%= msg %>
<% } %>
<form action="/player/save">
    <label for="firstname">First Name</label> <input type="text" id="p_firstname" name="p_firstname" /><br />
    <label for="lastname">Last Name</label> <input type="text" id="p_lastname" name="p_lastname" /><br />
    <label for="email">Email</label> <input type="text" id="email" name="email" /><br />
    <label for="password">Pasword</label> <input type="password" id="password" name="password" /><br />
    <button id="submit">Submit</button>
</form>
<div id="message" style="display:none" >You have successfully created a new Player account!</div>

<% include ../partials/footer.ejs %>