<% include partials/header.ejs %>
<style>
    #text {
        text-align:center;
        padding:5px;
        font-size: 15px;
    }
</style>
<div id="text">
    <br/>
    Purpose:
    <br/>
    The initial goal of this database is to keep track of the different aspects throughout the NHL (National Hockey League).
    The database will record tables and relationships between the teams, players, coaches, and general managers throughout the NHL.
    This database will cover the top 50 players, 30 teams, and their coaches and general managers in the NHL.
    Check out the links in the nav bar to view the database!
    <br/>
    <br/>
    Development:
    <br/>
    I, Chase Watson, created this databse using the top 50 NHL players based on number of points.
    I also used all 30 NHL teams, coaches, and general managers to populate the database.
    <br/>
    <br/>
    Contact Info:
    <br/>
    Email: spam@spam.com
    <br/>
    Phone: (111) 111-1111
</div>
<% include partials/footer.ejs %>