<% include ../partials/header.ejs %>
<style>
    #table {
        padding-left: 203px;
        padding-bottom: 7px;
        padding-top: 7px;
    }
</style>
<div id="table">
    <h2>Average Team Goals Table:</h2>
    <p>This table uses a group by, aggregate, and having clause</p>
    <% if(rs.length > 0) { %>
    <table border="1">
        <thead>
        <tr>
            <th>Team Name</th>
            <th>Average Goals</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><%= rs[i].name %></td>
            <td><%= rs[i].avg_goals%></td>
        </tr>
        </tbody>
        <% } %>
    </table>
    <% } else { %>
    No General Managers/Players are entered into the General Manager/Player Subquery in the database.
    <% } %>
</div>
<% include ../partials/footer.ejs %>