<style>
    #footer {
        background-color:steelblue;
        color:white;
        clear:both;
        text-align:center;
        padding:5px;
    }
</style>
<div id = "footer">
    Created by Chase Watson
    <br />
    <a href="/">Home</a>
</div>